@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --color-main: rgb(255, 255, 255);
    --color-accent: rgb(0, 96, 175);
    --color-sub: rgb(225, 239, 254);
    --color-base: #ffffff;
    --color-sidebar-index: #a29d9d;
    --color-error: rgb(194, 82, 53);
    --color-text-black: #262626;
    --color-text-white: #ffffff;
    --color-disabled: #cdcdcd;
    --color-input-border: #8c8c8c;
    --color-table-border: #e7e3e3;
    --color-shadow-light: #e0e0e0e6;
    --color-shadow-dark: #e0e0e080;
}
